#cloud-config
hostname: ${hostname}
fqdn: ${fqdn}
manage_etc_hosts: true
network:
  ethernet:
    ens3:
      addresses: []
      dhcp4: true
      optional: true
users:
  - name: kube
    sudo: ALL=(ALL) NOPASSWD:ALL
    groups: users, admin
    home: /home/kube
    shell: /bin/bash
    lock_passwd: false
    ssh-authorized-keys:
      - ${file("../../../id_rsa.pub")}
# only cert auth via ssh (console access can still login)
ssh_pwauth: true
disable_root: false
chpasswd:
  list: |
     kube:kuberocks
  expire: False
packages:
    - qemu-guest-agent
# every boot
bootcmd:
    - [ sh, -c, 'echo $(date) | sudo tee -a /root/bootcmd.log' ]
# run once for setup
runcmd:
    - [ sh, -c, 'echo $(date) | sudo tee -a /root/runcmd.log' ]
# written to /var/log/cloud-init-output.log
final_message: "The system is finall up, after $UPTIME seconds"

