{
    "cniVersion": "0.3.1",
    "name": "crio",
    "type": "bridge",
    "bridge": "cni0",
    "isGateway": true,
    "ipMasq": true,
    "hairpinMode": true,
    "ipam": {
        "type": "host-local",
        "routes": [
            { "dst": "0.0.0.0/0" },
            { "dst": "1100:200::1/24" }
        ],
        "ranges": [
            [{ "subnet": "{{ ('10.244.0.0/16' if (k8s.network.cni_plugin == 'flannel' and k8s.container_runtime == 'crio') else k8s.network.pod_cidr) | default('10.217.0.0/16') }}" }],
            [{ "subnet": "1100:200::/24" }]
        ]
    }
}
