kubectl apply -f {{ metallb_setup.manifest_url }}/namespace.yaml
kubectl apply -f {{ metallb_setup.manifest_url }}/metallb.yaml 
# On first install only
kubectl create secret generic -n metallb-system memberlist --from-literal=secretkey="$(openssl rand -base64 128)"
