cephClusterSpec:
  cephVersion:
    image: quay.io/ceph/ceph:v17.2.5
    allowUnsupported: false
  mon:
    count: {{ rook_ceph.rook_cluster_size | int }}
    allowMultiplePerNode: false
  mgr:
    count: {{ rook_ceph.rook_cluster_size | int }}
    allowMultiplePerNode: false
configOverride: |
  [global]
  mon_warn_on_pool_no_redundancy = false
  bdev_flock_retry = 20
  bluefs_buffered_io = false
  mon_allow_pool_delete = true
  osd_pool_default_size = {{ rook_ceph.rook_cluster_size | int }}
  osd_pool_default_min_size = {{ rook_ceph.rook_cluster_size | int }}
cephBlockPools:
  - name: ceph-blockpool
    spec:
      failureDomain: host
      replicated:
        size: {{ rook_ceph.rook_cluster_size | int }}
    storageClass:
      enabled: true
      name: ceph-block
      isDefault: true
      reclaimPolicy: Delete
      allowVolumeExpansion: true
cephFileSystems:
  - name: ceph-filesystem
    spec:
      metadataPool:
        replicated:
          size: {{ rook_ceph.rook_cluster_size | int }}
      dataPools:
        - failureDomain: host
          replicated:
            size: {{ rook_ceph.rook_cluster_size | int }}
          name: data0
      metadataServer:
        activeCount: {{ rook_ceph.rook_cluster_size | int }}
        activeStandby: false
        resources:
          limits:
            cpu: "2000m"
            memory: "4Gi"
          requests:
            cpu: "1000m"
            memory: "512Mi"
        priorityClassName: system-cluster-critical
    storageClass:
      enabled: true
      isDefault: true
      name: ceph-filesystem
      pool: data0
      reclaimPolicy: Delete
cephObjectStores:
  - name: ceph-objectstore
    spec:
      metadataPool:
        failureDomain: host
        replicated:
          size: {{ rook_ceph.rook_cluster_size | int }}
      dataPool:
        failureDomain: host
        erasureCoded:
          dataChunks: 2
          codingChunks: 1
      preservePoolsOnDelete: true
      gateway:
        port: 80
        resources:
          limits:
            cpu: "2000m"
            memory: "2Gi"
          requests:
            cpu: "1000m"
            memory: "1Gi"
        instances: 1
        priorityClassName: system-cluster-critical
    storageClass:
      enabled: true
      name: ceph-bucket
      reclaimPolicy: Delete